<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Authentication" value="Mixed" />
    <add key="Database" value="Integrated Security=SSPI;Initial Catalog=NeuralStar;Data Source=(local)\SQL2012STD;Max Pool Size=500" />
    <!--<add key="Database" value="Data Source=10.244.200.156;Initial Catalog=NeuralStar;User ID=sa;Password=Aimetrix2014;Max Pool Size=500" />-->
    <!--
		<add key="Nsda2DataPortalProxy" value="Nsda2.DataPortalClient.RemotingProxy, Nsda2"/>
		<add key="Nsda2DataPortalUrl" value="http://TUCKER48/NeuralStarPortal/RemotingPortal.soap"/>
		<add key="Nsda2EncryptRemoting" value="false" />
		-->
  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
